<div class="row bg-title">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Lead Maternity Care Dashboard</h4>
    </div>
    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li class="active">Dashboard 2</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box bg-success">
            <h3 class="box-title text-white">1st Trimester</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-white"></i></li>
                <li class="text-right"><span class="counter text-white">23</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box bg-info">
            <h3 class="box-title text-white">2nd Trimester</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-white"></i></li>
                <li class="text-right"><span class="counter text-white">23</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box bg-warning">
            <h3 class="box-title text-white">3rd Trimester</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-white"></i></li>
                <li class="text-right">
                    <a href=""><span class="counter text-white">23</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Add new patient</h3>
            <div class="text-center">
                <button type="button" class="btn btn-info btn-circle btn-xl waves-effect" ng-click="AddPatient()"><i class="fa fa-plus"></i> </button>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="claimsChart" width="400" height="225"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="expenseChart" width="400" height="225"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Calendar
                <button class="btn btn-primary waves-effect pull-right">Add new appointment</button>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="today-calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Active Patients</div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <ul class="common-list">
                        <li><a ui-sref="patientprofile"><i class=" fa fa-user text-success"></i> Maecenas sed diam eget</a></li>
                        <li><a ui-sref="patientprofile"><i class=" fa fa-user text-success"></i> List group item heading</a></li>
                        <li><a ui-sref="patientprofile"><i class=" fa fa-user text-success"></i> Donec id elit non mi porta gravida</a></li>
                        <li><a ui-sref="patientprofile"><i class=" fa fa-user text-success"></i> Maecenas sed diam eget</a></li>
                    </ul>
                    <a class="btn btn-custom m-t-10 collapseble">Invite new patient</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="registerPatientModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Register Patient</h4>
                <small>Please take time to fill out the profile information. If the patient already has an account, you need to fill up the email</small>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">NHI Number</label>
                            <input type="text" id="txtNHI" class="form-control" placeholder="NHI" ng-model="Register.NHI">
                            <!--<span class="help-block"> This is inline help </span>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" id="txtNHI" class="form-control" placeholder="your@email.com" ng-model="Register.Email">
                            <!--<span class="help-block"> This is inline help </span>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe" ng-model="Register.FirstName">
                            <!--<span class="help-block"> This is inline help </span>-->
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="control-label">
                            <label class="control-label">Last Name</label>
                            <input type="text" id="lastName" class="form-control" placeholder="Smith" ng-model="Register.LastName">
                            <!--<span class="help-block"> This field has error. </span>-->
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
            <div class="alert alert-danger alert-dismissable" ng-show="RegisterForm.ShowError">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ RegisterForm.ErrorMessage }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                &nbsp;
                <button type="button" class="btn btn-info waves-effect" ng-click="SaveNewPatient()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>