

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Patient Lists</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li class="active">Dashboard 2</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row el-element-overlay m-b-40">
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="profile in PatientList">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="/images/avatar_blank.jpg_1.png" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" ng-click="GoToPatientProfile(user.Email)"><i class="icon-magnifier"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">{{ profile.User.FirstName }} {{ profile.User.LastName }}</h3>
                    <!--<small>Managing Director</small>--><br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="../plugins/images/users/2.jpg">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" ng-click="GoToPatientProfile()"><i class="icon-magnifier"></i></a></li>                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3>
                    <small>Managing Director</small><br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="../plugins/images/users/3.jpg">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" ng-click="GoToPatientProfile()"><i class="icon-magnifier"></i></a></li>                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3>
                    <small>Managing Director</small><br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="../plugins/images/users/4.jpg">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" ng-click="GoToPatientProfile()"><i class="icon-magnifier"></i></a></li>                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3>
                    <small>Managing Director</small><br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
</div>