<link href="/plugins/bower_components/horizontal-timeline/css/horizontal-timeline.css" rel="stylesheet" />

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Patient Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li class="active">Dashboard 2</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <!--<div class="row">
                    <div class="col-lg-2">
                        <h3 class="box-title m-b-0">Default Tab</h3>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-2">
                        <a href="javascript:void(0)"><img src="/plugins/images/users/genu.jpg" class="thumb-lg img-circle" alt="img"></a>
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>NHI</strong> <br>
                                <p class="text-muted">JQ12345</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Last Name</strong> <br>
                                <p class="text-muted">Dela Cruz</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>First Name</strong> <br>
                                <p class="text-muted">Juan Pedro</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Date of birth</strong> <br>
                                <p class="text-muted">Feb 2, 1980</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Gender</strong> <br>
                                <p class="text-muted">Male</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Enthicity</strong> <br>
                                <p class="text-muted">Asian</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Marital Status</strong> <br>
                                <p class="text-muted">Married</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="cd-horizontal-timeline loaded" style="margin:0;">
                            <div class="timeline">
                                <div class="events-wrapper">
                                    <div class="events" style="width: 1800px;">
                                        <ol>
                                            <li><a href="#0" data-date="16/01/2014" class="selected" style="left: 120px;">16 Jan</a></li>
                                            <li><a href="#0" data-date="28/02/2014" style="left: 300px;">28 Feb</a></li>
                                            <li><a href="#0" data-date="20/04/2014" style="left: 480px;">20 Mar</a></li>
                                            <li><a href="#0" data-date="20/05/2014" style="left: 600px;">20 May</a></li>
                                            <li><a href="#0" data-date="09/07/2014" style="left: 780px;">09 Jul</a></li>
                                            <li><a href="#0" data-date="30/08/2014" style="left: 960px;">30 Aug</a></li>
                                            <li><a href="#0" data-date="15/09/2014" style="left: 1020px;">15 Sep</a></li>
                                            <li><a href="#0" data-date="01/11/2014" style="left: 1200px;">01 Nov</a></li>
                                            <li><a href="#0" data-date="10/12/2014" style="left: 1380px;">10 Dec</a></li>
                                            <li><a href="#0" data-date="19/01/2015" style="left: 1500px;">29 Jan</a></li>
                                            <li><a href="#0" data-date="03/03/2015" style="left: 1680px;">3 Mar</a></li>
                                        </ol>

                                        <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0776953);"></span>
                                    </div> <!-- .events -->
                                </div> <!-- .events-wrapper -->

                                <ul class="cd-timeline-navigation">
                                    <li><a href="#0" class="prev inactive">Prev</a></li>
                                    <li><a href="#0" class="next">Next</a></li>
                                </ul> <!-- .cd-timeline-navigation -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        &nbsp;
                    </div>
                </div>
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Home</span></a></li>
                    <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Profile</span></a></li>
                    <li role="presentation" class=""><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Messages</span></a></li>
                    <li role="presentation" class=""><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Settings</span></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="col-md-6">
                            <h3>Best Clean Tab ever</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="col-md-6">
                            <h3>Lets check profile</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Vulputate eget, arcu, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="col-md-6">
                            <h3>Come on you have a lot message</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="col-md-6">
                            <h3>Just do Settings</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Vulputate eget, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>