<link href="/plugins/bower_components/horizontal-timeline/css/horizontal-timeline.css" rel="stylesheet" />

<style type="text/css">
    .tabs-style-shape {
        max-width : none!important;
    }

    .timeline-badge{
        left:85%!important;
    }

    .timeline-panel{
        width:79%!important;
    }
</style>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li class="active">Dashboard 2</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <!--<div class="row">
                    <div class="col-lg-2">
                        <h3 class="box-title m-b-0">Default Tab</h3>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-2">
                        <a href="javascript:void(0)"><img src="/plugins/images/users/genu.jpg" class="thumb-lg img-circle" alt="img"></a>
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>NHI</strong> <br>
                                <p class="text-muted">JQ12345</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Last Name</strong> <br>
                                <p class="text-muted">Dela Cruz</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>First Name</strong> <br>
                                <p class="text-muted">Juan Pedro</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Date of birth</strong> <br>
                                <p class="text-muted">2 Feb 1980</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Gender</strong> <br>
                                <p class="text-muted">Male</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Enthicity</strong> <br>
                                <p class="text-muted">Asian</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Marital Status</strong> <br>
                                <p class="text-muted">Married</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Pregnacy Status</strong> <br>
                                <p class="text-muted">Active</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="cd-horizontal-timeline loaded" style="margin:0;">
                            <div class="timeline">
                                <div class="events-wrapper">
                                    <div class="events" style="width: 1800px;">
                                        <ol>
                                            <li><a href="#0" data-date="16/01/2014" class="selected" style="left: 120px;">16 Jan</a></li>
                                            <li><a href="#0" data-date="28/02/2014" style="left: 300px;">28 Feb</a></li>
                                            <li><a href="#0" data-date="20/04/2014" style="left: 480px;">20 Mar</a></li>
                                            <li><a href="#0" data-date="20/05/2014" style="left: 600px;">20 May</a></li>
                                            <li><a href="#0" data-date="09/07/2014" style="left: 780px;">09 Jul</a></li>
                                            <li><a href="#0" data-date="30/08/2014" style="left: 960px;">30 Aug</a></li>
                                            <li><a href="#0" data-date="15/09/2014" style="left: 1020px;">15 Sep</a></li>
                                            <li><a href="#0" data-date="01/11/2014" style="left: 1200px;">01 Nov</a></li>
                                            <li><a href="#0" data-date="10/12/2014" style="left: 1380px;">10 Dec</a></li>
                                            <li><a href="#0" data-date="19/01/2015" style="left: 1500px;">29 Jan</a></li>
                                            <li><a href="#0" data-date="03/03/2015" style="left: 1680px;">3 Mar</a></li>
                                        </ol>

                                        <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0776953);"></span>
                                    </div> <!-- .events -->
                                </div> <!-- .events-wrapper -->

                                <ul class="cd-timeline-navigation">
                                    <li><a href="#0" class="prev inactive">Prev</a></li>
                                    <li><a href="#0" class="next">Next</a></li>
                                </ul> <!-- .cd-timeline-navigation -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        &nbsp;
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Progress
                                <div class="pull-right"><a data-perform="panel-collapse"><i class="ti-minus"></i></a> <a data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="sttabs tabs-style-shape">
                            <nav>
                                <ul>
                                    <li class="tab-current">
                                        <a id="section-shape-tab-0">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Overview</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-1">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Current Pregnancy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-2">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Prenatal Visits</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-3">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Results</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-4">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Birth Plan</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-5">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Medical History</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="section-shape-tab-6">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path></svg>
                                            <span>Gynecological History</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="content-wrap">
                                <section id="section-shape-0" class="content-current">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <canvas id="chtWeight" width="400" height="225"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <canvas id="chtBP" width="400" height="225"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="panel panel-default">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="col-lg-2"><p><small class="text-muted"><i class="fa fa-clock-o"></i> 3 Aug 2016</small> </p></div>
                                                        <div class="col-lg-10"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p></div>
                                                        <div class="col-lg-2"><p><small class="text-muted"><i class="fa fa-clock-o"></i> 3 Jul 2016</small> </p></div>
                                                        <div class="col-lg-10"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <button type="button" class="btn btn-primary pull-right">Add new note</button>
                                            <div class="white-box">
                                                <ul class="timeline">
                                                    <li>
                                                        <div class="timeline-badge info"><i class="fa fa-file-text-o"></i> </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4 class="timeline-title">Genelia</h4>
                                                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 3 Aug 2016</small> </p>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="timeline-badge info"><i class="fa fa-file-text-o"></i> </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 Jun 2016</small> </p>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>-->
                                    </section>
                                    <section id="section-shape-1"><h2>Tabbing 2</h2></section>
                                    <section id="section-shape-2"><h2>Tabbing 3</h2></section>
                                    <section id="section-shape-3"><h2>Tabbing 4</h2></section>
                                    <section id="section-shape-4"><h2>Tabbing 5</h2></section>
                                    <section id="section-shape-5"><h2>Tabbing 5</h2></section>
                                    <section id="section-shape-6"><h2>Tabbing 5</h2></section>
                            </div><!-- /content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>